<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <h1>{{title}}</h1>
        <ul>
            <li v-for="fruit of fruits">{{fruit}}</li>
        </ul>
        <ul>
            <li v-for="animal of animals" v-if="animal.show">
                <div>
                    <h1>Name: {{animal.name}}</h1>
                    <p>Type: {{animal.type}}</p>
                </div>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>
</html>